<% @games.each do |game| %>
    <p>
        Week: 
        <%= game.week %>
        <%= game.home_team.mascot %> Vs. 
        <%= game.away_team.mascot %>
        <%= link_to "View Game Details", game %>
    </p>
<% end %>
